.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.categoria{
  padding: 10px;
}

.img-card-categoria{
  max-height: 100px;
  width: 100%;
}

.categoria-title{
  text-align: center;
}

.search-field{
  padding: 0 10px;
}

.item-categoria{
  margin-bottom: 10px;
}

.arruma-imagem{
  float: left;
  padding: 10px;
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
  border: 2px solid #ccc;
}
 
.arruma-texto{
  display: block;
  margin-top: 50px;
  font-size: 18px !important;
}

.list{
  display: flex;
  padding: 10px;
}

.produtos{
  padding: 10px;
  margin-top: 15px;
}

.distancia-produto{
  color: #888383;
}

.preco-produto{
  float: right;
  color: #888383;
  font-size: 16px;
}

.cards{
  margin-bottom: 10px;
}

.text-decoration-none{
  text-decoration: none;
}